<!-- <input #searchBox id="search-box" placeholder=" City name" [(ngModel)]="txtCityName" (keyup.enter)="enterPress()" />
<a id="search-btn" href="#"><button type="submit" (click)="getWeather()">Search</button></a>
<div id="main">
    <div class="city-icon">
        <div class="city-name" >
            <h1 id="city-name">{{ cityName }}</h1>
        </div>
        <div><img src={{iconUrl}} alt="" id="icon"></div>
    </div>
    <div class="temperature">
        <h1 id="temperature" >{{ temperature ===null ? "--":  temperature}} °</h1>
    </div>
    <div class="humidity">
        <h1 id="humidity">{{ humidity ===null ? "--":  humidity}} %</h1>
    </div>
</div>
 -->
